<div class="container-fluid">

  <app-page-title title="City" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..."/>
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" routerlinkactive="active" [routerLink]="['/master/reportadd']">
                  <i class="mdi mdi-plus me-1"></i>Add  New City 
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Country Name</th>
                  <th>State Name</th>
                  <th>City Name</th>
                  <th>Status</th>
                
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of zoneList.data">
                  <td>{{record.id}}</td>
                  <td>{{record.countryName}}</td>
                  <td>{{record.stateName}}</td>
                  <td>{{record.cityName}}</td>
                  <td>
                    <span class="badge bg-success font-size-12" *ngIf="record.isActive == 1">
                      Active
                    </span>
                    <span class="badge bg-danger font-size-12" *ngIf="record.isActive == 0">
                      Deactive
                    </span>
                  </td>
             
                
                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" [routerLink]="['/master/reportedit',record.id]"><i
                          class="fas fa-pencil-alt text-success me-1"></i>
                        Edit</a>
                       </li>

                       <li><a href="javascript: void(0);" class="dropdown-item" [routerLink]="['/master/reportview',record.id]"><i
                        class="fas fa-eye text-primary me-1"></i>
                      View</a>
                      </li>
                    
                        <li><a class="dropdown-item" (click)="deleteFormAction(record.id)"><i
                              class="fas fa-trash-alt text-danger me-1"></i>
                            Delete</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination [collectionSize]="50" [(page)]="currentpage"
            class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

